/* general */
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  min-width: 670px;
}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format("truetype");
}

@font-face {
font-family: 'IBMPlexSans-Regular';
src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'IBMPlexSans_Regular';
src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'IBMPlexSans_Regular';
src: url("../fonts/IBMPlexSans_Regular.ttf") format("truetype");
}

/* header */
header {
  display: block;
  height: 15%;
  min-height: 100px;
  width: 100vw;
}

.p-title {
  padding-top: 10px;
  padding-left: 35%;

  text-align: center;
  position: absolute;
}
/* goodie */
#goodie-outer-container {
  z-index: 99;
  display: block;
  position: fixed;
  left: 80px;
  padding: 20px 0px;
}

#goodie-container {
  height: 15px;
  width: 250px;
}

#goodie-container ul {
  text-align: center;
}

#goodie-container ul li {
  display: inline-block;
}

.goodie-segment {
  display: inline-block;
  width: 15px;
  height: 20px;
  margin: 0px -1.15px;
}

.goodie-segment.off {
  background: lightgray;
}

.goodie-segment.on {
  background: #FFD300;
}

.goodie-segment.toggle {
  animation: toggle 0.5s ease infinite;
  -webkit-animation: toggle 0.5s ease infinite;
  -o-animation: toggle 0.5s ease infinite;
  -moz-animation: toggle 0.5s ease infinite;
  -ms-animation: toggle 0.5s ease infinite;
}

@keyframes toggle {
  0% {
    background: lightgray;
  }
  100% {
    background: #FFD300;
  }
}

@-moz-keyframes toggle {
  0% {
    background: lightgray;
  }
  100% {
    background: #FFD300;
  }
}

@-o-keyframes toggle {
  0% {
    background: lightgray;
  }
  100% {
    background: #FFD300;
  }
}

@-ms-keyframes toggle {
  0% {
    background: lightgray;
  }
  100% {
    background: #FFD300;
  }
}

@-webkit-keyframes toggle {
  0% {
    background: lightgray;
  }
  100% {
    background: #FFD300;
  }
}

#goodie-outer-container h3,
#goodie-outer-container p {
  text-align: center;
  padding-bottom: 5px;
  font-family: 'IBMPlexSans_Regular';
  color: #545454;
  font-weight: normal;
}

#goodie-outer-container p {
  padding-top: 12px;
  font-family: 'IBMPlexSans_Regular';
  font-weight: normal;
  font-size: 15px;
  color: #545454;
}

#goodie-silhouettes ul {
  list-style: none;
  text-align: center;
}

#goodie-silhouettes ul li {
  display: inline-block;
  margin: 5px;
}

#goodie-silhouettes ul li#level-0 p img.off,
#goodie-silhouettes.level-0 ul li#level-1 p img.on,
#goodie-silhouettes.level-0 ul li#level-2 p img.on,
#goodie-silhouettes.level-1 ul li#level-1 p img.off,
#goodie-silhouettes.level-1 ul li#level-2 p img.on,
#goodie-silhouettes.level-2 ul li#level-1 p img.off,
#goodie-silhouettes.level-2 ul li#level-2 p img.off {
  display: none !important;
}

#goodie-silhouettes.level-0.level-1 ul li#level-1 p img.on,
#goodie-silhouettes.level-1 ul li#level-1 p img.on,
#goodie-silhouettes.level-2 ul li#level-2 p img.on {
  display: inline-block;
}

#goodie-silhouettes ul li img {
  height: 30px;
}

#goodie-state {
  display: none;

}

/* hp */
#hp-outer-container {
  z-index: 100;
  display: block;
  position: fixed;
  right: 60px;
  padding: 20px 0px;
}

#hp-inner-container {
  height: 15px;
  width: 250px;
  border: 2px solid #545454;
}

#hp-indicator {
  display: block;
  height: inherit;
  width: 80%;
  background: #FFD300;
  /*opacity: .5;*/
}

#hp-outer-container h3,
#hp-outer-container p {
  text-align: center;
  padding-bottom: 5px;
  font-family: 'IBMPlexSans_Regular';
  color: #545454;
  font-weight: normal;

}

#hp-outer-container p {
  padding-top: 5px;
}

/* middle */
#middle {
  height: 60%;
  min-height: 400px;
  display: block;
  position: relative;
  width: 100vw;
}

#middle .item {
  display: none;
  position: absolute;
  background-image: url('../assets/items/grey/item.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

#middle .item.color {
  background-image: url('../assets/items/color/item.gif');
}

#item-1.item {
  top: 25%;
  left: 5%;
}

#item-2.item {
  top: 45%;
  left: 25%;
}

#item-3.item {
  top: 66%;
  left: 75%;
}

#item-4.item {
  top: 15%;
  left: 18%;
}

#item-5.item {
  top: 25%;
  left: 75%;
}

#item-6.item {
  top: 38%;
  left: 89%;
}

#pet-container {
  height: 500;
  width: 400px;
  margin: 0 auto;
  position: relative;
  min-height: 500px;
}

#pet {
  display: block;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 15%;
}

#pet a {
  display: block;
  position: relative;
}

#pet a img {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
}

#pet-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  font-family: 'IBMPlexSans_Regular';
  font-size: 18px;
  opacity: .75;
  color: #545454;
}

/* footer */
footer {
  display: block;
  position: absolute;
  /*height: 15%;*/
  width: 100vw;
  min-height: 100px;
  text-align: center;
  bottom: 50px;
}

.tabcounter {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

#tab-count {
  text-align: center;
  font-size: 15px;
  font-family: 'IBMPlexSans_Regular';
  text-transform: uppercase;
  color: #545454;
  font-weight: normal;
  padding: 0em .75em;
  margin: 0 auto;
  display: inline-block;-block;
}

/* tips */
.tips-container {
  position: relative;
}

.tip {
  display: inline-block;
  position: absolute;
}

header .tip {
  left: 10px;
}

header .tip img {
  width: 15px;
  margin-top: -2px;
}

.tabcounter .tips-container {
  margin: 0 auto !important;
  display: inline-block !important;
}
.tabcounter .tip {
  position: relative !important;
}

.tabcounter .tip img {
  width: 20px;
  margin-bottom: -4px;
}

.credits {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  bottom: 0px;
  position: absolute;
}

.credits img {
  width: 300px;
  opacity: .95;
}

.tip-modal {
  position: absolute;
  background: #FFD300;
  color: white;
  width: 200px;
  padding: 10px;
  display: none;
  font-family: 'IBMPlexSans_Regular';
}

#goodie-tip {
  z-index: 100;
  left: 250px;
  top: 40px;
}

#health-tip {
  z-index: 100;
  right: 165px;
  top: 40px;
}

#pet-tip {
 /* right: 25vw;
  bottom: 100px;*/
  z-index: 100;

  position: relative;
  margin: 0 auto;
  /*display: inline-block;*/

}

/* preloader */
#preloader-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  /* Beige Colour */
  background-color: #F9E4B7;
}

#preloader-container h1{
  color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 80px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}


.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  top: 25vh;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/* media query */
@media (max-width: 670px) {
  #hp-outer-container {
    left: 80px;
    top: 130px;
    right: 0;
  }

  #hp-outer-container h3,
  #hp-outer-container p {
    width: 254px;
  }

  #middle {
    top: 50px;
  }
}
